<div class="sidenav animate__animated animate__fadeInLeft">
    <img src="assets/Logo.svg" alt="Logo" class="logo">
    <nav>
      <ul>
        <li><img src="assets/Dashboard.svg" alt="Dashboard"></li>
        <li><img src="assets/Monitoring.svg" alt="Monitoring"></li>
        <li><img src="assets/HistoricSensors.svg" alt="Historic Sensors"></li>
        <li><img src="assets/HistoricPlants.svg" alt="Historic Plants"></li>
        <li><img src="assets/Logout.svg" alt="Logout" (click)="logout()"></li>
      </ul>
    </nav>
  </div>
  